ul.validation-errors {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.success-message-alert,
.validation-error-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ee7000;
  color: #fff;
  width: 480px;
  height: 51px;
  padding: 0;
  margin: 5px;
  border-radius: 5px;
  padding: 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1001; */
}

.success-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.success-message-alert {
  background-color: #00c030;
}

.success-message-close,
.validation-error-close {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
