.actions-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 230px;
  color: #bcd;
  font-size: 12px;
  border-bottom: 1px solid #384453;
  padding: 10px 0;
}

.actions-row.hover:hover {
  color: #fff;
  cursor: pointer;
}

.action-row-rated {
  padding: 10px;
}

.action-row-rated p {
  margin: 0;
  padding-bottom: 10px;
}
.action-row-rated,
.action-row-rated span {
  cursor: default !important;
}

.actions-row.solo {
  background-color: #456;
  border-radius: 3px;
  padding: 10px 0;
}

.actions-row a {
  color: #bcd;
}

.actions-row a:hover {
  color: #fff;
}

.listen-actions {
  display: flex;
  flex-direction: row;
  height: 82px;
}

.action-icon {
  font-size: 36px;
  cursor: pointer;
}

.action-icon:hover p {
  color: #fff;
}

.action-label {
  font-size: 14px;
  margin: 0;
}

p.action-label:hover {
  cursor: pointer;
  color: #fff;
}

.listen-actions {
  display: flex;
  justify-content: center;
}

.remove:hover p,
.append:hover p,
.listened:hover p,
.listen:hover p {
  color: #fff;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-icon {
  margin-bottom: 4px;
}

.listened,
.listen {
  margin-right: 8px;
}
