.review-actions {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #445566;
  padding-left: 0;
  border-radius: 3px;
}

.listened .action-icon {
  color: #00e054;
}

.remove .action-icon {
  color: #40bcf4;
}

.logged-off:hover {
  color: #fff;
  cursor: pointer;
}

.listen-actions div {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
