h1.review-heading {
  font-family: TiemposTextWeb-Semibold, Georgia, serif;
  color: #fff !important;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.review-release-year {
  font-family: Graphik-Regular-Web, sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #89a;
  margin-left: 6px;
  margin-right: 12px;
  position: relative;
  top: 1px;
}

p.review-by {
  font-size: 16px;
  margin-left: 8px;
}

.single-review-filled-stars {
  position: relative;
  top: 1px;
}

.half-green {
  font-size: 16px;
  color: #00e054;
  font-family: Graphik-Regular-Web, sans-serif;
  font-weight: 400;
}

.review-body {
  font-family: TiemposTextWeb-Regular, Georgia, serif;
  font-size: 16px;
  line-height: 1.6;
}

.content-review div.user-info {
  padding-bottom: 8px;
  border-bottom: 0.5px solid rgb(68, 85, 102);
}

.review-listened-date {
  font-size: 14px;
  filter: brightness(0.8);
}
