.review-form {
  display: flex;
  background-color: #445566;
  border-radius: 5px;
  width: 900px;
  min-height: 400px;
  padding: 25px 36px;
  font-family: Graphik-Regular-Web, sans-serif;
}

.review-form-left {
  display: flex;
  align-items: flex-start;
  margin-right: 50px;
}

.review-form-left img {
  box-shadow: 0px 0px 7px -2px #14181c;
}

.review-form-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .label-row {
  width: 100%;
}

.review-form h1 {
  font-size: 16px;
  font-weight: 400;
}

.review-form h2 {
  color: #fff;
  font-family: TiemposTextWeb-Semibold, Georgia, serif;
}

.review-form .close-icon {
  position: relative;
  left: 30px;
}

.review-form-year {
  font-family: Graphik-Regular-Web, sans-serif;
  font-weight: 200;
  color: #bcd;
  font-size: 20px;
  margin-left: 5px;
}

.review-form button {
  background-color: #00b020;
  color: #fff;
  width: 70px;
  height: 30px;
  border: 0;
  padding: 9px 12px;
  border-radius: 3px;
}

.review-form label {
  color: #fff;
  font-size: 14px;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 18px;
  margin-bottom: 7px;
}

.rating-row {
  width: fit-content;
}

p.rating-label {
  font-size: 14px;
}

.form-row.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox label {
  color: #def;
}

.replace-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cde;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  color: #58697a;
  margin: 0 8px;
}

.replace-checkbox:hover {
  background-color: #fff;
}

input[type='date'] {
  width: 150px;
}

.review-form input[type='checkbox'] {
  height: 15px;
  background-color: #cde;
}

.review-form textarea::placeholder {
  color: #9ab;
  font-size: 14px;
}

.review-form textarea {
  width: 510px;
  height: 75px;
  padding: 7px 10px;
  margin: 20px 0;
}

.review-form textarea {
  transition: height linear 0.1s;
}

.review-form textarea:focus {
  height: 250px;
}

.form-row-last {
  display: flex;
  justify-content: space-between;
}

.form-row.checkbox {
  margin-bottom: 12px;
  display: flex;
}

.review-form label {
  margin-bottom: 7px;
  color: #def;
}

.form-row.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-row.btns {
  display: flex;
  flex-direction: row;
}

.form-row.btns .btn-save {
  margin-left: 5px;
}

.rating-row .label-row {
  display: flex;
  align-items: center;
}
