.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop-container {
  margin-top: -70px;
}

.backdrop {
  position: relative;
  margin-top: 30px;
  background-image: linear-gradient(to bottom, transparent, #1d242b),
    url('../../images/rashadspinntraxman640.jpg');
  height: 500px;
  max-width: 1200px;
  width: 100%;
}

a.credit-link {
  font-size: 14px;
  position: absolute;
  right: -2px;
  top: 50%;
  writing-mode: vertical-lr;
  height: 100%;
  transform: translate(100%, -50%) scale(-1);
  color: #456;
  font-weight: 200;
}

a.credit-link:hover {
  color: #9ab;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 40px;
}

.hero-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: TiemposTextWeb-Semibold, Georgia, serif;
  color: #fff;
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
  z-index: 2;
}

button.btn-demo-user {
  padding: 10px 24px;
  width: 290px;
  font-size: 18px;
  height: 50px;
}

.card-icon {
  font-size: 40px;
  margin-right: 12px;
}

section.descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: 950px;
}

section.descriptions h2 {
  border: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.landing-panels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding-left: 0;
  margin-top: 0;
}

.description-panel {
  color: #def;
  height: 105px;
  width: 310px;
  background-color: #445566;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 12px;
}

.description-panel:hover p.panel-text,
.description-panel:hover .card-icon {
  color: #fff;
}
