tr.diary-item {
  width: 950px;
  height: 110px;
  border-bottom: 1px solid #384453;
  padding: 15px 0;
}

div.calendar {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar.icon {
  font-size: 60px;
  color: #456;
}

p.date {
  position: absolute;
  bottom: 8px;
  color: #1d242b;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.date span {
  font-size: 11px;
}

td.day,
td.album,
td.released,
td.rating,
td.relisten,
td.review,
td.edit {
  padding-left: 20px;
}

tr .icon {
  font-size: 24px;
}

.entry-review .icon:hover,
.entry-edit .icon:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

td.day {
  width: 50px;
  font-size: 28px;
  font-weight: 200;
  color: #678;
  padding-left: 20px;
}

.album-details {
  width: 375px;
  display: flex;
}

.diary-album {
  position: relative;
}

.diary-item img {
  border-radius: 3px;
}

.diary-item .overlay {
  width: 80px;
  height: 80px;
}

.diary-album {
  width: 80px;
  height: 80px;
}

.entry-title {
  width: 300px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

a.diary-item-title {
  font-family: TiemposTextWeb-Semibold, Georgia, serif;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.diary-item-title:hover {
  color: #40bcf4;
}

.released {
  width: 75px;
  font-size: 13px;
}

.green.half {
  margin-left: 2px;
  margin-right: 3px;
  font-size: 18px;
  color: #00e054;
}

.entry-rating {
  display: flex;
  width: 115px;
}

.relisten,
.entry-review,
.entry-edit {
  width: 75px;
  font-size: 18px;
}
