.star-rating {
  display: flex;
  font-size: 26px;
  color: white;
  padding: 0;
  margin: 0;
}

.form-star {
  color: #33404c;
}

.star-wrapper {
  height: 26px;
  position: relative;
}

div.star-left {
  overflow: hidden;
  position: absolute;
  width: 13px;
}

.read-only .star:hover {
  pointer-events: none !important;
}

.star-filled {
  color: #40bcf4;
}

.star-filled-read {
  font-size: 14px;
  color: #99aabb;
}

.star-filled-green {
  color: #00e054;
  font-size: 16px;
}

.star-filled-read.diary {
  color: #00e054;
  font-size: 18px;
}
