.star-rating {
  display: flex;
  /* height: 50px;
  width: 200px; */
  font-size: 26px;
  color: white;
  padding: 0;
  margin: 0;
}

.star:hover {
  color: #40bcf4;
}

.star-filled {
  color: #40bcf4;
}

.star .star-flipped {
  margin: 0;
  padding: 0;
}

.star-filled-read {
  font-size: 14px;
  color: #99aabb;
}
