.sign-up-form {
  display: flex;
  flex-direction: column;
  background-color: #445566;
  width: 420px;
  height: 420px;
  border-radius: 5px;
  padding: 22px 36px;
  margin: 0;
}

.sign-up-form h1 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.sign-up-form input {
  width: 100%;
  padding: 9px;
  border-bottom: #fff;
}

.sign-up-form .form-row {
  height: 55px;
  margin-bottom: 15px;
}

.sign-up-form input:focus {
  background-color: #fff;
}

.form-row-username input,
.form-row-password input,
.form-row-confirm input {
  width: 190px;
}

.sign-up-form label {
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}

.form-row-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sign-up-form button {
  width: 85px;
  height: 30px;
}
