.search-modal {
  display: flex;
  flex-direction: column;
  background-color: #445566;
  border-radius: 3px;
  padding: 22px 36px 26px 36px;
  width: 636px;
  height: 135px;
  /* z-index: 1000; */
}

.search-modal-heading {
  font-family: Graphik-Regular-Web, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-label {
  font-family: Graphik-Regular-Web, sans-serif;
  font-size: 12px;
  color: #fff;
}

.search-modal .form-input-group {
  display: flex;
  flex-direction: column;
}

.search-modal .form-label {
  margin-bottom: 7px;
}
