.feed-post {
  display: flex;
  align-items: center;
  height: 155px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #2c3440;
}

.feed-post h3 {
  margin: 0;
}

.feed-post p.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.feed-post-right {
  margin-left: 12px;
  width: 365px;
}
