.btn-medium {
  width: 80px;
  height: 30px;
  border: 0;
  padding: 9px 12px;
  border-radius: 3px;
  color: #ddeeff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-demo-user,
.btn-save,
.btn-add {
  background-color: #00b020;
  color: #ddeeff;
}

.btn-demo-user:hover,
.btn-save:hover,
.btn-add:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.btn-delete {
  background-color: #8899aa !important;
  color: #ddeeff;
}

.btn-delete:hover {
  background-color: #ec1200 !important;
}

.btn-green {
  background-color: #00b020;
  color: #fff;
}

.btn-add {
  width: 120px;
}

.btn-cancel {
  width: 85px;
  padding: 9px 12px;
  background-color: #556677;
}

.btn-cancel:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}
