/* TODO Add site wide styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Graphik-Regular-Web, sans-serif;
  color: #99aabb;
  background-color: #1d242b;
  letter-spacing: 0.5px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

a {
  text-decoration: none;
  color: #99aabb;
}

a:visited {
  color: #99aabb;
}

li {
  list-style-type: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.section-heading {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 0.5px solid rgb(68, 85, 102);
  padding-bottom: 6px;
}
