.album-art {
  border-radius: 3px;
}

.album-art-medium {
  height: 250px;
  width: 250px;
}

.album-art-small {
  height: 111px;
  width: 111px;
}

.album-art-tiny {
  height: 52px;
  width: 52px;
}

.album-art-grid {
  height: 180px;
  width: 180px;
}

