.user-nav {
  display: flex;
  align-items: center;
  background-color: #2c3440;
  height: 44px;
}
.user-nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav li {
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav a {
  font-size: 14px;
  font-weight: 400;
}

.user-nav a:hover {
  color: #40bcf4;
}

.user-nav .active {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  border-bottom: 1px solid #00b020;
}
