.user-lists-page {
  display: flex;
}

.profile-content {
  width: 950px;
  margin: 0 auto;
}

.profile-content h1 {
  color: #fff;
  margin-left: 8px;
}

.profile-content .user-avatar {
  font-size: 46px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.content-container.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  height: 100%;
}

.diary-table th {
  font-size: 12px;
  font-weight: 200;
  color: #678;
  border-bottom: 1px solid #384453;
  border-top: 1px solid #384453;
  background-color: #14181c;
  height: 30px;
  text-align: left;
  /* width: 100%; */
}

table.diary-table {
  border-collapse: collapse;
}

th.day,
th.album,
th.released,
th.rating,
th.relisten,
th.review,
th.edit {
  padding-left: 20px;
}

.user-albums-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.user-albums-content .empty {
  width: 950px;
  margin-left: 60px;
}

.grid-item .album-art-container {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 3px;
}

.user-albums-grid img {
  border-radius: 3px;
}

.grid-item-rating {
  display: flex;
}

.diary-content .empty {
  width: 950px;
}
