.list-page {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding: 30px 0;
}

.list-page .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.list-page-header,
.list-page-main {
  width: 100%;
}

.list-page-main .album-grid {
  padding: 0;
}

.actions-panel {
  background-color: #445566;
}

.list-action.delete:hover {
  cursor: pointer;
}
