.list-page-content {
  display: grid;
  grid-template-columns: 1fr 230px;
  column-gap: 50px;
  padding: 30px 0;
  height: fit-content;
  width: 950px;
}

.list-page-header,
.list-page-main {
  width: 100%;
}

.list-page-main .album-grid {
  padding: 0;
}

.actions-panel {
  background-color: #445566;
}

.list-actions {
  border-radius: 3px;
}

.list-action {
  width: 230px;
  height: 38px;
  padding: 10px 0;
}

.list-delete:hover {
  cursor: pointer;
  color: #fff;
}

.list-delete {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.list-page-header h1 {
  color: #fff;
}

.list-page-content .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  padding-bottom: 8px;
  border-bottom: 0.5px solid rgb(68, 85, 102);
}

.user-info .avatar-link {
  font-size: 24px;
}

.user-info p {
  margin: 0;
  margin-left: 5px;
  font-weight: 300;
}

.user-link {
  font-weight: 600;
}

.user-link:hover {
  filter: brightness(1.3);
}

div.list-date {
  border-bottom: 0.5px solid rgb(68, 85, 102);
}

p.list-date {
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
  color: #678;
}
