.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop {
  background-image: linear-gradient(to bottom, transparent, #1d242b),
    url('../../images/rashadspinntraxman640.jpg');
  height: 500px;
  width: 1200px;
}

.credit-container {
  align-self: flex-end;
  transform: rotate(-90deg);
  /* position: absolute; */
  color: #9ab;
  opacity: 0.5;
}

a.credit-link:hover {
  opacity: #9ab;
}
