.search-item {
  background-color: #667788;
  color: #fff;
  list-style-type: none;
  font-family: Graphik-Regular-Web, sans-serif;
  font-weight: 300;
  font-size: 13px;
  width: 578px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-item-artist {
  color: #ced7e0;
  font-family: Graphik-Regular-Web, sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-left: 4px;
}

.search-item:hover {
  background-color: #00b020;
}
