.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.album-grid .with-overlay {
  border-radius: 3px;
}

.album-grid .with-overlay:hover {
  z-index: 12;
}

.album-grid img {
  border: 0.5px solid #99aabb;
  border-radius: 3px;
}

.album-grid .position {
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.list-page-main .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
