.album-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.album-grid img {
  transition: outline 0.1s linear;
}

.album-grid img:hover {
  outline: 3px solid #00e054;
}

.album-grid img {
  border: 0.5px solid #99aabb;
}

.position {
  color: #fff;
}
