.log-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00b020;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border: 0;
  border-radius: 3px;
  width: 85px;
  height: 25px;
  padding: 6px;
  padding-right: 0;
  text-align: center;
}

.log-button-left,
.log-button-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.log-button-toggle {
  background-color: #bbdd6640;
  filter: brightness(1.5);
  width: 25px;
  height: 25px;
  position: relative;
}

.btn-link {
  position: absolute;
  background-color: #9ab;
  color: #000;
  top: 50px;
  right: 10px;
  height: 30px;
  padding: 4px 15px;
}

.btn-link a {
  color: #000;
}

.btn-link:hover {
  background-color: #445566;
  color: #fff;
}

.btn-link:hover a {
  color: #fff !important;
}

/* .log-button-toggle {
  background-color: rgba(85, 221, 102, 0.25);
} */
