.log-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00b020;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border: 0;
  border-radius: 3px;
  width: 80px;
  height: 25px;
  padding: 6px;
}

.log-button-left,
.log-button-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* .log-button-toggle {
  background-color: rgba(85, 221, 102, 0.25);
} */
