.log-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00b020;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border: 0;
  border-radius: 3px;
  width: 92px;
  height: 25px;
  padding: 6px 6px 6px 0px;
  padding-right: 0;
  text-align: center;
}

.log-button-container {
  position: relative;
}

.log-button-left,
.log-button-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
}

.log-button-left {
  padding: 0;
  width: 100%;
  margin-left: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  height: 25px;
}

.log-button-toggle {
  width: 25px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.log-button-left:hover {
  background-color: #00a11d;
}

.log-button-toggle:hover {
  background-color: #00a11d;
  filter: brightness(1);
}

.log-button-toggle {
  background-color: #15bc31;
  filter: brightness(1.1);
  width: 25px;
  height: 25px;
  position: relative;
}

.btn-link {
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: #9ab;
  font-size: 12px;
  width: 160px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a.btn-link {
  color: #2c3440;
  padding: 4 15px;
  text-align: center;
}

.btn-link:hover {
  background-color: #678;
  color: #fff;
}
