.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid green;
  height: 72px;
  font-family: Graphik-Regular-Web, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #14181c;
}

.nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-label {
  color: #99aabb;
  font-size: 14px;
  font-weight: 600;
}

.nav-label:hover {
  color: #fff;
}

.nav-logo {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

div.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

button.profile-button {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374757;
  padding: 0;
  border: 0;
  margin-right: 8px;
}

.profile-button-icon {
  font-size: 24px;
  cursor: pointer;
}

.search-icon {
  font-size: 24px;
}
